@media (min-width: 500px) {
  .wrapper {
    width: 400px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --color-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 54%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);
}

body {
  font-family: "Overpass", sans-serif;
  background: var(--color-very-dark-blue);
  font-size: 16px;
  margin: 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 0.1px);
}

.wrapper {
  background-color: var(--color-dark-blue);
  padding: 1.25rem;
  border-radius: 0.625rem;
}

.btn-rating {
  background-color: var(--color-orange);
  transition: all 0.15s ease-in-out;
}

.btn-number:hover {
  background-color: var(--color-orange);
}

.btn-rating:hover {
  background-color: var(--color-white);
  color: var(--color-orange);
}

.p-rating {
  color: var(--color-orange);
}
